node_modules
.output
.vinxi
.tanstack
.nitro
dist
*.db
*.db-shm
*.db-wal
.env
.env.local
**/routeTree.gen.ts
builds/
.builds/
.build-registry.json
.runs/
.db-backup/
*.bak
.specs/
.vite
.vite/
bk/
.DS_Store
